{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'website/index.css' %}">
{% endblock %}

{% block title %}Home | Bethany's Pie Shop{% endblock %}

{% block content %}
    <aside><img src="{% static 'website/images/logo.png' %}" alt="Bethany's Pie Shop"></aside>
    <article>
        <img src="{% static 'website/images/banner.png' %}"class="banner" alt="Bethany's Pie Shop">
        <h1>Welcome to Bethany's Pie Shop</h1>
        <p class="sub-title">
            From pecan to plum, our pies are made in with the warmth and...
            Take a moment to
            <a href="PASS">browse our pies</a>
            and see which of our delectable
            desserts are soon to arrive on your doorstep.
        </p>
    </article>
{% endblock %}