{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'website/order.css' %}">
{% endblock %}

{% block title %} Order | Bethany's Pie Shop {% endblock %}

{% block content %}
    <aside><img src="{% static 'website/images/logo.png' %}" alt="Bethany's Pie Shop"></aside>
    <article>
        <h1>Order</h1>
        <div class="pie">
            <img src="">
            <div class="columns">
                <div class="title">Pie: </div>
                <div class="price">Price: </div>
                <div class="desc">Description: </div>
            </div>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{form}}
            </table>
            <button type="submit">Order</button>
            <button type="reset">Reset</button>
        </form>
    </article>
    <script src="{% static 'website/js/order.js' %}"></script>
{% endblock %}