{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'website/style.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {% block style %}
    {% endblock %}
    
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'pies' %}">Pies</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content%}
        {% endblock%}
    </main>
    <footer>
        <nav>
            <ul>
                <li><a href="PASS">Home</a></li>
                <li><a href="PASS">Pies</a></li>
                <li><a href="PASS">Contact</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>